.slider {
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.slider-header {
    display: flex;
}

.slider-header div:first-child{
    flex: 1;
}

.slider-actions {
    display: flex;
    align-items: center;
}